body {
    font-family: 'Open Sans', sans-serif;
}

.jumbotron {
    background-image: url(cupcakes.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    padding-top: 100px;
}

img {
    width: 100%;
}

a .navbar-brand {
    width: 100%
}